<footer class="footer">
  <p>Desarrollado por L&B</p>
  <p>
    <a href="https://github.com/Matijasevic-Emer" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/emerson-matijasevic/" target="_blank">LinkedIn</a> |
    <a href="https://www.youtube.com/watch?v=0Qj3LUxx3Zg&list=PLP06kydD_xaUS6plnsdonHa5ySbPx1PrP&index=2" target="_blank">Inspiración</a>

  </p>
</footer>